html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}

a {
  color: inherit;
}

a:hover {
  color: #FFFCA0;
  text-decoration: none;
}

ul {
  list-style: none;
  margin-left: 0px;
  padding-left: 0px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Raleway;
  font-weight: 700;
}

.h-result {
  font-weight: 400!important;
}

.weight-md {
  font-weight: 500;
}

.btn {
  font-family: Raleway;
  font-weight: 600;
  -webkit-appearance: none!important;
}

.btn-primary {
  background-color: #6F5BC0;
  border-style: none;
  padding-left: 15px!important;
  text-align: justify;
}

.btn-primary:hover, .btn-primary:focus {
  background-color : rgb(91, 73, 165)!important;
  border-color:#FFFCA0!important;
  color:#FFFCA0!important;
}

.btn-outline-light:hover, .btn-outline-light:focus {
  color: #BD00FF!important;
}

.btn-info {
  background: linear-gradient(45deg, rgb(103, 185, 140), rgb(117, 159, 194), rgb(166, 118, 170));
  background-size: 150% auto;
  border-style: none;
  transition: .5s;
  max-height: 3rem;
}

.btn-info:hover {
  background-position: right center;
} 

.badge {
  border-radius: 2px;
  font-weight: 500;
}

.badge-primary {
  background-color: rgb(95, 168, 128);
}

.badge-info {
  background-color: rgb(95, 135, 168);
}

.badge-success {
  background-color: rgb(133, 76, 138);
}

.form-control:focus {
  border: 2px solid #80FFBA;
  box-shadow: 0 0 0 0!important;
}

.custom-select:focus {
  border: 2px solid #80FFBA;
  box-shadow: 0 0 0 0!important;
}

.custom-btn {
  background-color: none;
  background: none;
  border-style: none;
}

.mdi-btn:hover {
  cursor: pointer;
  fill: rgb(49, 23, 155);
}

.mdi-btn-alt:hover {
  fill: #FFFCA0;
}

.display-xl {
  font-size: 10rem;
  font-weight: 300;
  line-height: 1.2;
}

.mt-neg {
  margin-top: -2rem;
}

.mt-neg-1 {
  margin-top: -.5rem;
}

.mt-neg-3 {
  margin-top: -3.5rem;
}

.mt-neg-md {
  margin-top: -22%;
}

.mt-neg-lg {
  margin-top: -25%;
}

.mt-neg-xl {
  margin-top: -40%;
}

.mb-neg {
  margin-bottom: -.5rem;
}

.pt-alot {
  padding-top: 10rem;
}

.p-res {
  padding: 2%;
}

.pt-res {
  padding-top: 5%;
}

.mt-res {
  margin-top: 5%;
}

.circle {
  background-color: black;
  border-radius: 50%;
  height: 1.25rem;
  width: 1.25rem;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: .1rem .1rem .1rem .05rem;
}

.wrapper {
  display: flex;
}

.chat-nav {
  background-color: #6F5BC0;
  color: white;
  height: calc(100vh - 4rem);
  overflow: scroll;
  width: 20%;
}

.messages-container {
  height: calc(100vh - 10.85rem);
  overflow: auto;
}

.space-messages-container {
  height: 15rem;
  overflow: auto; 
}

.message-col {
  display: flex;
  flex-direction: column-reverse;
  overflow: scroll;
}

.status-row {
  height: 1.5rem;
}

.chat-col {
  width: 80%;
}

.sender-row {
  width: 55rem;
}

/* .chat-bubble {
  background: linear-gradient(90deg, #B2FFB0, #B0FFF7);
  border-radius: 2px;
  width: 55rem; 
} */

.chat-bubble {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 93%;
  height: auto;
  position: relative;
  border: none;
  -webkit-border-radius: 10px;
  border-radius: 0 2px 2px;
  color: rgba(0, 0, 0, 1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: -webkit-linear-gradient(0deg, rgba(178, 255, 176, 1) 0, rgba(176, 255, 247, 1) 100%);
  background: -moz-linear-gradient(90deg, rgba(178, 255, 176, 1) 0, rgba(176, 255, 247, 1) 100%);
  background: linear-gradient(90deg, rgba(178, 255, 176, 1) 0, rgba(176, 255, 247, 1) 100%);
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
  margin-left: 1.5rem;  
}
.chat-bubble-me {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 93%;
  height: auto;
  position: relative;
  border: none;
  -webkit-border-radius: 10px;
  border-radius: 2px 0 2px 2px;
  color: rgba(0, 0, 0, 1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: -webkit-linear-gradient(0deg, #B0C6FF, #F4B0FF 100%);
  background: -moz-linear-gradient(90deg, #B0C6FF, #F4B0FF 100%);
  background: linear-gradient(90deg, #B0C6FF, #F4B0FF 100%);
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
  margin-right: 1.5rem;  
}

.chat-bubble-me::after {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 0;
  height: 0;
  position: absolute;
  content: "";
  top: 0;
  right: -2%;
  border: 13px solid rgba(0, 0, 0, 0);
  border-right: 26px solid #F4B0FF;
  border-left: 0 solid;
  color: rgba(0, 0, 0, 1);
  -o-text-overflow: clip;
  text-overflow: clip;
  text-shadow: none;
  -webkit-transform : translateY(-6px) skewX(-45deg) skewY(27deg);
  transform : translateY(-.39rem) skewX(-45deg) skewY(27deg);
}
.chat-bubble::before {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 0;
  height: 0;
  position: absolute;
  content: "";
  top: 0;
  right: 99.3%;
  border: 13px solid rgba(0, 0, 0, 0);
  border-right: 26px solid rgba(178, 255, 176, 1);
  border-left: 0 solid;
  color: rgba(0, 0, 0, 1);
  -o-text-overflow: clip;
  text-overflow: clip;
  text-shadow: none;
  -webkit-transform : translateY(-6px) skewY(26deg);
  transform : translateY(-.4rem) skewY(26deg);
}


/* .chat-bubble-me {
  background: linear-gradient(90deg, #B0C6FF, #F4B0FF);
  border-radius: 2px; 
  width: 55rem; 
} */

.delete-member-btn {
  position: relative;
  height: 5rem;
}

.modal-rocket {
  margin-top: -1.35rem;
}

.modal-btns {
  margin-top: -4rem;
}

.md-xs {
  font-size: 1rem;
}

.md-sm {
  font-size: 1.25rem;
}

.md-md {
  font-size: 1.5rem;
}

.md-h3 {
  font-size: 1.75rem;
}

.sidebar-icon {
  margin-right: .5em;
}

.mobile-logo {
  height: auto;
  max-width: 100%;
  width: 45px;
}

.header-link {
  color: white;
  font-family: Raleway;
  font-size: 16px;
  padding: 15px;
}

.header-link:hover {
  color:#FFFCA0;
}

.heading-box {
  background-color: rgb(61, 61, 61);
  border-radius: 2px;
  color: white;
  height: 50px;
  padding: 15px 75px 0px 15px;
}

.descender {
  padding: 10px 75px 5px 15px!important;
}

.heading-box-chat {
  background-color: rgb(61, 61, 61);
  border-radius: 2px;
  color: white;
  height: 32px;
  padding: 10px 75px 0px 15px;
}

.chat-descender {
  padding: 6px 75px 5px 15px!important;
}

.heading-box-edit {
  color: rgb(195, 180, 255);
  left: 4.5rem;
  position: relative;
  top: -.5rem;
}

.mobile-heading-box-edit {
  color: rgb(195, 180, 255);
  left: 2.75rem;
  position: relative;
  top: -.5rem;
}

.mobile-heading-box {
  background-color: rgb(61, 61, 61);
  border-radius: 2px;
  color: white;
  height: 42px;
  padding: 13px 50px 0px 15px;
}


.mobile-back-btn {
  position: relative;
  top: -8rem;
}

.mini-heading-box-side {
  background-color: rgb(61, 61, 61);
  border-radius: 2px;
  color: white;
  height: 45px;
  margin-left: -10px;
  margin-right: 100px;
  margin-top: -1rem;
  min-width: 200px;
  padding: 15px 10px 0px 10px;
  position: relative;
  z-index: 1;
}

mt-0 {
  margin-top: 0rem!important;
}

.mini-heading-box-top {
  background-color: rgb(61, 61, 61);
  border-radius: 2px;
  color: white;
  height: 45px;
  min-width: 200px;
  margin-left: 15px;
  margin-right: 250px;
  margin-top: -20px;
  padding: 15px 10px 0px 10px;
}

.mini-heading-box-top-mobile {
  background-color: rgb(61, 61, 61);
  border-radius: 2px;
  color: white;
  height: 45px;
  margin-left: 15px;
  margin-right: 30px;
  margin-top: -20px;
  padding: 15px 10px 0px 10px;
}

.content-box {
  border: 1px solid rgb(61, 61, 61);
  border-radius: 2px;
  height: 100%;
  margin-bottom: 3em;
  width: 100%;
}

.content-box-colorful {
  border-image: linear-gradient(45deg, #23037E, #BD00FF) 1;
  border-style: solid;
  border-width: 1px;
}

.invisible-content-box {
  padding: 30px;
  white-space: pre-wrap;
}

.line {
  height: .2rem;
  background: #6F5BC0;
}

.splash-position {
  position: relative;
  top: 12vh;
}

.splash-bg {
  background: linear-gradient(45deg, rgba(36, 3, 126, 0.8), rgba(187, 0, 255, 0.65)),
    url('https://purewows3.imgix.net/images/articles/2017_01/bespoke_coworking_spaces_san_francisco.png?auto=format,compress&cs=strip')
    no-repeat center;
  background-size: cover;
  color: white;
  height: 100vh;
}

.splash-logo {
  height: 30vw;
  width: auto;
}

.space-main-img {
  width: 100%;
  height: auto;
}

.space-main-img-container {
  width: 100%;
  max-height: 10rem;
  overflow: hidden;
}

.search-result-img {
  max-height: 9rem;
  width: auto;
}

.image-selection-box {
  background: linear-gradient(45deg, rgba(69, 255, 63, 0.466), rgba(36, 3, 126, 0.582));
  border-style: none;
  color: white;
  font-family: Raleway;
  font-weight: 700;
}

.image-select {
  background:none!important;
  background-color: none!important;
  border-color: white;
  font-family: Raleway;
  font-weight: 700;
}

.user-profile-pic {
  width: 100%;
  height: auto;
}

.preview-pic {
  width: 100%;
  height: auto;
}

.space-preview-pic {
  width: 100%;
  height: auto;
}

.auto-height-box {
  height: auto;
}

.zodiac-glyph {
  height: 1.25rem;
  margin-right: 1em;
  max-width: 100%;
  width: 1.25rem;
}

.member-img-box {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.member-img {
  max-width: 100%;
}

#edit-profile-back {
  position: relative;
  top: 1.25rem;
}

.incomplete-todo {
  font-weight: 600;
}

.complete-todo {
  font-weight: 400;
  font-style: italic;
  text-decoration: line-through;
}

.todo-input {
  max-width: 11.5rem;
}

.nav-tabs {
  border: none!important;
}

.nav-link {
  border-color: none!important;
  color: white;
}
.tab-spaces {
  background-color: rgb(100, 107, 199);
}
.tab-people {
  background-color: rgb(124, 109, 204);
}
.tab-saved {
  background-color: rgb(154, 98, 206);
}
.nav-link.active {
  background-color: #fff!important;
  border-color: transparent!important;
}
.nav-link:hover {
  background-position: right center;
  border-color: none!important;
} 

.searches-color-text {
  color: rgb(214, 255, 245);
}

.searches-color {
  background-color: rgb(214, 255, 245);
}

.tab-row {
  background-color: rgb(214, 255, 245);
}

.saved-searches-tab {
  position: absolute;
  right: .5rem;
}