html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}

a {
  color: inherit;
}

a:hover {
  color: #FFFCA0;
  text-decoration: none;
}

ul {
  list-style: none;
  margin-left: 0px;
  padding-left: 0px;
}

.btn {
  font-family: Raleway;
  font-weight: 600; 
}

.btn-primary {
  background-color: #6F5BC0;
  border-style: none;
  padding-left: 15px!important;
  text-align: justify;
}

.btn-primary:hover, .btn-primary:focus {
  background-color : rgb(91, 73, 165)!important;
  border-color:#FFFCA0!important;
  color:#FFFCA0!important;
}

.custom-btn {
  background-color: none;
  background: none;
  border-style: none;
}

.mdi-btn:hover {
  cursor: pointer;
  fill: rgb(49, 23, 155);
}

.mdi-btn-alt:hover {
  fill: #FFFCA0;
}

.wrapper {
  display: flex;
}

.chat-nav {
  background-color: #6F5BC0;
  color: white;
  height: calc(100vh - 4rem);
  overflow: scroll;
  width: 15%;
}

.messages-container {
  height: calc(100vh - 10.85rem);
  overflow: auto;
}

.space-messages-container {
  height: 15rem;
  overflow: auto; 
}

.message-col {
  display: flex;
  flex-direction: column-reverse;
  overflow: scroll;
}

.status-row {
  height: 1.5rem;
}

.chat-col {
  width: 80%;
}

.sender-row {
  width: 55rem;
}

.chat-bubble {
  background: linear-gradient(90deg, #B2FFB0, #B0FFF7);
  border-radius: 2px;
  width: 55rem; 
}

.chat-bubble-me {
  background: linear-gradient(90deg, #B0C6FF, #F4B0FF);
  border-radius: 2px; 
  width: 55rem; 
}

.delete-member-btn {
  position: relative;
  height: 5rem;
}

.modal-rocket {
  margin-top: -1.35rem;
}

.modal-btns {
  margin-top: -4rem;
}

.md-xs {
  font-size: 1rem;
}

.md-sm {
  font-size: 1.25rem;
}

.md-h3 {
  font-size: 1.75rem;
}

.sidebar-icon {
  margin-right: .5em;
}

.mobile-logo {
  height: auto;
  max-width: 100%;
  width: 45px;
}

.header-link {
  color: white;
  font-family: Raleway;
  font-size: 16px;
  padding: 15px;
}

.header-link:hover {
  color:#FFFCA0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Raleway;
  font-weight: 700;
}
.one-line {
  white-space: nowrap;
}

.heading-box {
  background-color: rgb(61, 61, 61);
  border-radius: 2px;
  color: white;
  height: 50px;
  padding: 15px 75px 0px 15px;
}

.descender {
  padding: 10px 75px 5px 15px!important;
}

.heading-box-chat {
  background-color: rgb(61, 61, 61);
  border-radius: 2px;
  color: white;
  height: 32px;
  padding: 10px 75px 0px 15px;
}

.chat-descender {
  padding: 6px 75px 5px 15px!important;
}

.heading-box-edit {
  color: rgb(195, 180, 255);
  left: 4.5rem;
  position: relative;
  top: -.5rem;
}

.mobile-heading-box-edit {
  color: rgb(195, 180, 255);
  left: 2.75rem;
  position: relative;
  top: -.5rem;
}

.mobile-heading-box {
  background-color: rgb(61, 61, 61);
  border-radius: 2px;
  color: white;
  height: 42px;
  padding: 13px 50px 0px 15px;
}

.mt-neg {
  margin-top: -2rem;
}

.mt-neg-3 {
  margin-top: -3.5rem;
}

.mb-neg {
  margin-bottom: -.5rem;
}

.mobile-back-btn {
  position: relative;
  top: -8rem;
}

.mini-heading-box-side {
  background-color: rgb(61, 61, 61);
  border-radius: 2px;
  color: white;
  height: 45px;
  margin-left: -10px;
  margin-right: 100px;
  margin-top: -1rem;
  min-width: 200px;
  padding: 15px 10px 0px 10px;
  position: relative;
  z-index: 1;
}

mt-0 {
  margin-top: 0rem!important;
}

.mini-heading-box-top {
  background-color: rgb(61, 61, 61);
  border-radius: 2px;
  color: white;
  height: 45px;
  min-width: 200px;
  margin-left: 15px;
  margin-right: 250px;
  margin-top: -20px;
  padding: 15px 10px 0px 10px;
}

.mini-heading-box-top-mobile {
  background-color: rgb(61, 61, 61);
  border-radius: 2px;
  color: white;
  height: 45px;
  margin-left: 15px;
  margin-right: 30px;
  margin-top: -20px;
  padding: 15px 10px 0px 10px;
}

.p-res {
  padding: 2%;
}

.pt-res {
  padding-top: 5%;
}
.mt-res {
  margin-top: 5%;
}

.content-box {
  border: 1px solid rgb(61, 61, 61);
  border-radius: 2px;
  height: 100%;
  margin-bottom: 3em;
  width: 100%;
}

.content-box-colorful {
  border-image: linear-gradient(45deg, #23037E, #BD00FF) 1;
  border-style: solid;
  border-width: 1px;
}

.invisible-content-box {
  padding: 30px;
}

.space-main-img {
  max-width: 100%;
}

.space-main-img-container {
  max-height: 10rem;
  overflow: hidden;
}

.search-result-img {
  max-height: 9rem;
  width: auto;
}

.image-selection-box {
  background: linear-gradient(45deg, rgba(69, 255, 63, 0.466), rgba(36, 3, 126, 0.582));
  border-style: none;
  color: white;
  font-family: Raleway;
  font-weight: 700;
}

.image-select {
  background:none!important;
  background-color: none!important;
  border-color: white;
  font-family: Raleway;
  font-weight: 700;
}

.user-profile-pic {
  height: auto;
  max-width: 100%;
}

.space-preview-pic {
  height: auto;
  max-width: 100%;
}

.auto-height-box {
  height: auto;
}

.zodiac-glyph {
  height: 1.25rem;
  margin-right: 1em;
  max-width: 100%;
  width: 1.25rem;
}

.member-img-box {
  max-height: 12rem;
  overflow: hidden;
}

.member-img {
  max-width: 100%;
}

#edit-profile-back {
  position: relative;
  top: 1.25rem;
}

.incomplete-todo {
  font-weight: 600;
}

.complete-todo {
  font-weight: 400;
  font-style: italic;
  text-decoration: line-through;
}

.todo-input {
  max-width: 11.5rem;
}