ul {
  list-style: none;
}

.btn {
  font-family: Raleway;
  font-weight: 600; 
}

.btn-primary {
  background-color: #6F5BC0;
  border-style: none;
  padding-left: 15px!important;
  text-align: justify;
}

.btn-primary:hover, .btn-primary:focus {
  background-color : rgb(91, 73, 165)!important;
  border-color:#FFFCA0!important;
  color:#FFFCA0!important;
}

.sidebar-icon {
  margin-right: .5em;
}

.mobile-logo {
  height: auto;
  max-width: 100%;
  width: 45px;
}

.header-link {
  color: white;
  font-family: Raleway;
  font-size: 16px;
  padding: 15px;
}

.header-link:hover {
  color:#FFFCA0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Raleway;
  font-weight: 700;
}

.heading-box {
  background-color: rgb(61, 61, 61);
  color: white;
  height: 50px;
  padding: 15px 50px 0px 15px;
}

.mobile-heading-box {
  background-color: rgb(61, 61, 61);
  color: white;
  height: 42px;
  padding: 13px 50px 0px 15px;
}

.mini-heading-box {
  background-color: rgb(61, 61, 61);
  color: white;
  height: 25px;
  padding: 5px 15px 0px 5px;
}

.content-row {
  padding-top: 30px;
}

.user-profile-pic {
  height: auto;
  max-width: 100%;
  width: 300px;
}