a {
  color: inherit;
}

a:hover {
  color: #FFFCA0;
  text-decoration: none;
}

ul {
  list-style: none;
  margin-left: 0px;
  padding-left: 0px;
}

.btn {
  font-family: Raleway;
  font-weight: 600; 
}

.btn-primary {
  background-color: #6F5BC0;
  border-style: none;
  padding-left: 15px!important;
  text-align: justify;
}

.btn-primary:hover, .btn-primary:focus {
  background-color : rgb(91, 73, 165)!important;
  border-color:#FFFCA0!important;
  color:#FFFCA0!important;
}

.custom-btn {
  background-color: none;
  border-style: none;
}

.mdi-btn:hover {
  cursor: pointer;
  fill: rgb(49, 23, 155);
}

.md-sm {
  font-size: 1.25rem;
}

.md-h3 {
  font-size: 1.75rem;
}

.sidebar-icon {
  margin-right: .5em;
}

.mobile-logo {
  height: auto;
  max-width: 100%;
  width: 45px;
}

.header-link {
  color: white;
  font-family: Raleway;
  font-size: 16px;
  padding: 15px;
}

.header-link:hover {
  color:#FFFCA0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Raleway;
  font-weight: 700;
}

.heading-box {
  background-color: rgb(61, 61, 61);
  border-radius: 2px;
  color: white;
  height: 50px;
  padding: 15px 50px 0px 15px;
}

.mobile-heading-box {
  background-color: rgb(61, 61, 61);
  border-radius: 2px;
  color: white;
  height: 42px;
  padding: 13px 50px 0px 15px;
}

.mt-neg {
  margin-top: -2rem;
}

.mt-neg-3 {
  margin-top: -3.5rem;
}

.mini-heading-box-side {
  background-color: rgb(61, 61, 61);
  border-radius: 2px;
  color: white;
  height: 45px;
  margin-left: -10px;
  margin-right: 100px;
  margin-top: -1rem;
  min-width: 200px;
  padding: 15px 10px 0px 10px;
  position: relative;
  z-index: 1;
}

.mini-heading-box-top {
  background-color: rgb(61, 61, 61);
  border-radius: 2px;
  color: white;
  height: 45px;
  min-width: 200px;
  margin-left: 15px;
  margin-right: 250px;
  margin-top: -20px;
  padding: 15px 10px 0px 10px;
}

.mini-heading-box-top-mobile {
  background-color: rgb(61, 61, 61);
  border-radius: 2px;
  color: white;
  height: 45px;
  margin-left: 15px;
  margin-right: 30px;
  margin-top: -20px;
  padding: 15px 10px 0px 10px;
}

.p-res {
  padding: 2%;
}

.pt-res {
  padding-top: 5%;
}

.content-box {
  border: 1px solid rgb(61, 61, 61);
  border-radius: 2px;
  height: 100%;
  margin-bottom: 3em;
  width: 100%;
}

.invisible-content-box {
  padding: 30px;
}

.space-main-img {
  max-width: 100%;
}

.space-main-img-container {
  max-height: 10rem;
  overflow: hidden;
}

.image-selection-box {
  background: linear-gradient(45deg, rgba(69, 255, 63, 0.466), rgba(36, 3, 126, 0.582));
  border-style: none;
  color: white;
  font-family: Raleway;
  font-weight: 700;
}

.image-select {
  background:none!important;
  background-color: none!important;
  border-color: white;
  font-family: Raleway;
  font-weight: 700;
}

.user-profile-pic {
  height: auto;
  max-width: 100%;
}

.auto-height-box {
  height: auto;
}

.zodiac-glyph {
  height: 1.25rem;
  margin-right: 1em;
  max-width: 100%;
  width: 1.25rem;
}

.member-img-box {
  max-height: 12rem;
  overflow: hidden;
}

.member-img {
  max-width: 100%;
}
